[submodule "dependencies/sokol"]
	path = dependencies/sokol
	url = https://github.com/floooh/sokol
[submodule "dependencies/cglm"]
	path = dependencies/cglm
	url = https://github.com/recp/cglm.git
[submodule "dependencies/fast_obj"]
	path = dependencies/fast_obj
	url = https://github.com/thisistherk/fast_obj
